@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 21px 32px 21px 32px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
}

#hero {
  width: 100%;
  height: 957px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
#hero .hero-content {
  width: 919px;
}
#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 5px;
}
#hero .hero-content .title {
  color: white;
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 14px;
}
#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 18px;
}
#card-box {
  width: 1320px;
  margin: 100px auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
#card-box .info {
}
.card-container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: Work Sans;
  margin-bottom: 48px;
}
.card {
  max-width: 424px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card .image-box {
  width: 424px;
}
.card .image-box img {
  width: 100%;
}
.card .shop {
  border-radius: 8px;

  background: rgba(82, 195, 3, 0.15);
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14px 32px 14px 32px;
}
